:root {
  --primary-color: #0d6efd;
  --gray: #e0e0e0;
  --todo-bg: #f7f7f7;
  --todo-bg-hover: #e6e1e1;
  --warning: #f4aa0b;
  --success: #166d71;
  --header: #8c8c8c;
  --danger: #dc3545;
  --progress-bar: #2e79eb79;
}
@font-face {
  font-family: londrina-outline;
  src: url(../assets/LondrinaOutline-Regular.ttf);
}
body {
  padding: 0;
  margin: 0;
  font-family: "Overpass", "Inconsolata", monospace;
}
.filter {
  display: inline-block;
  width: 80px;
  padding: 4px 10px;
  margin-top: 3px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ced4da;
  min-width: 160px;
  width: 410px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding: 6px 10px 0 6px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter list  */
ul {
  list-style: none;
  padding: 0;
  position: relative;
}
ul.dropdown-list li {
  display: block;
  padding: 6px;
  border-bottom: 1px solid var(--header);
}
ul.dropdown-list > li:last-child {
  border-bottom: none !important;
  padding: 6px 6px 0px 6px !important;
}

ul.dropdown-list li li.prop {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  line-height: 30px;
  padding: 0px 6px;
  height: 30px;
  width: auto;
  border-radius: 50rem;
  border: 1px solid black;
  background-color: white;
  margin: 2px 5px;
}
ul.dropdown-list li li.prop:hover,
ul.dropdown-list li li.prop.active {
  background-color: rgb(116, 111, 111);
  color: white;
  border: none;
}

ul.length-bar li,
ul.sales-amount-list li {
  width: 25%;
  position: relative;
  float: left;
  border: none;
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
}
ul.sales-amount-list li::before {
  content: "";
  width: 8px;
  height: 20px;
  border-radius: 50rem;
  border: 1px solid var(--progress-bar);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: white;
  cursor: pointer;
}
.length-bar {
  counter-reset: step;
}
ul.length-bar li::before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid var(--header);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: white;
  cursor: pointer;
}
ul.length-bar li::after,
ul.sales-amount-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--gray);
  top: 15px;
  left: -50%;
  z-index: -2;
}
ul.length-bar li:first-child::after,
ul.sales-amount-list li:first-child::after {
  content: none;
}
ul.sales-amount-list li.active:before {
  content: "\25C9";
  width: 20px;
  height: 20px;
  border: 1px solid var(--progress-bar);
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color);
}
ul.sales-amount-list li.after + li::after {
  background-color: var(--progress-bar);
}
ul.length-bar li.active::before {
  content: "\2713";
  border-color: rgb(63, 61, 61);
  color: rgb(63, 61, 61);
}
ul.length-bar li.after + li::after {
  background-color: rgb(63, 61, 61);
}
div.or * {
  display: inline-block !important;
}

div.or input,
div.or input:focus {
  display: inline-block !important;
  outline: none;
  width: 50px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0px 4px;
  border-bottom: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  background: none;
  font-size: small;
}

/* set map image background */
div#contain {
  height: 100vh;
  background-image: url(../assets/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 !important;
}
div.contain {
  min-height: 100vh;
}

/* auctions list */
ul.auctions-list li,
ul.list li {
  padding: 6px 10px;
  text-align: center;
  display: block;
  border-bottom: 1px solid #ced4da;
  cursor: pointer;
}
ul.auctions-list li:hover,
ul.list li:hover {
  background-color: var(--header);
  color: white;
}
ul.auctions-list li span {
  display: block;
  font-weight: bold;
}
/* ul.auctions-list li span:last-child {
} */

div.see-full {
  border-top: 1px solid #ced4da;
  padding: 20px 0px;
  cursor: pointer;
  font-size: 18px;
}
div.see-full:hover {
  /* text-decoration: underline; */
  color: var(--primary-color);
}

div#calendar {
  margin: 10px 0;
  height: 150px;
  height: max-content;
  width: max-content;
  position: relative;
  overflow: hidden;
}

div#calendar .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
.calendar-body {
  border: 1px solid var(--header);
  padding: 8px;
  border-radius: 5px;
}
div.weekday {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  gap: 2px;
}

div.weekday div {
  display: grid;
  place-items: center;
  color: var(--header);
  padding: 2px;
}
span.month-picker {
  border-right: 1px solid var(--header);
  border-top: 1px solid var(--header);
  border-left: 1px solid var(--header);
  border-radius: 5px 5px 0px 0px;
  margin-left: 10px;
  padding: 6px;
  position: relative;
  top: 1px;
  z-index: 2;
}
div.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: black;
}

div.days div {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
div.days div:hover {
  border: 1px solid var(--header);
}

/* my list */
ul.list li span.name {
  display: block;
  font-size: 16px;
}
ul.list li span.address {
  display: block;
  font-size: 13px;
}
ul.list li i.bi {
  cursor: pointer;
}

ul.list span.legend {
  display: inline-block;
  background-color: white;
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  margin-bottom: 10px;
  top: -15px;
  right: 50%;
}
ul.list {
  padding: 18px 0 15px 0;
  margin: 0;
}
/* tabs */
div.tab-content {
  min-height: 200px;
}

ul#third-slide-tab-list a.nav-link {
  border-top: 1px solid #dee2e6 !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-radius: 0px !important;
  background-color: #fff;
}
ul#third-slide-tab-list li:first-child a.nav-link {
  border-left: 1px solid #dee2e6 !important;
}
ul#third-slide-tab-list li:last-child a.nav-link {
  border-right: 1px solid #dee2e6 !important;
}

ul#third-slide-tab-list li a.nav-link.active {
  background-color: #ddd8d8;
  color: white !important;
}

div.third-slide thead th {
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  font-weight: 500;
}

table#compareTable td {
  text-align: center;
  font-size: 14px;
  word-wrap: break-word;
}
table#compareTable td.head {
  font-size: 15px;
  padding: 8px 14px;
}
table#compareTable th {
  font-size: 14px;
}
.word-space {
  word-spacing: 8px;
  word-wrap: break-word;
}
/* .bg-light {
  background-color: rgb(242, 246, 248) !important;
} */
div.search-item {
  cursor: pointer;
}
div.search-item-header {
  color: rgb(61, 58, 58);
  font-size: 14px;
  height: 105px;
  padding: 10px 0;
  cursor: pointer;
}
div.active-lien div.search-item-header {
  background-color: rgb(7, 78, 49);
  color: white;
}
div.active-lien div.search-item-header:hover {
  background-color: rgb(31, 99, 71);
}
div.old-lien div.search-item-header {
  background-color: rgb(150, 142, 142);
  color: rgb(59, 53, 53);
  font-size: 12px;
}
div.old-lien div.search-item-header:hover {
  background-color: rgb(165, 158, 158);
}
div.search-query-text {
  text-align: center;
  font-size: 14px;
}
ul.actions-list li {
  width: 16.33%;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  border: 1px solid #7e7f81;
  border-radius: 5px;
  margin: 0 2px;
  height: 50px;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}
/* ul.actions-list li:hover {
  background-color: #dee2e6;
} */

ul.actions-list li a.big {
  padding: 12px 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
ul li.half {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
}
.londrina {
  font-family: "londrina-outline", "Overpass", serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 28px;
}
div img.img-map {
  height: auto;
  width: 100%;
  margin: 0px auto;
  display: block;
  max-height: 300px;
  /* transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg); */
}
div#note {
  background-color: #b44d81;
  text-align: center;
  padding: 6px 0;
  border: 1px solid #dee2e6;
  color: white;
}
.add-small {
  font-size: 10px;
  line-height: 11px;
  text-align: center;
}
td.graphic {
  display: block;
  min-width: 300px;
  width: 100%;
  position: relative;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
}
div#pieChart {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a.action-btn {
  width: 100% !important;
  height: 100% !important;
  font-size: 16px !important;
  padding-top: 12px;
  color: white !important;
  border: none !important;
}
a#compareBtn {
  background-color: #0d6efd;
}
a#compareBtn:hover {
  background-color: #384457;
  border: 2px solid #8c8c8c;
}
